#left{
    width: 35%;
    border: solid cyan;
    padding: 1;
}

#main{
    width: 65%;
    border: solid green;
}

#battlefield{
    height: 100%;
}

#console{
    height: 30%;
    border: solid magenta;
    overflow: hidden;
}

#input{
    height: 1fr;
}
